/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
/* COMMON */
.flex-center {
    display: flex;
    align-items: center;
}
.align-center {
    align-items: center;
}
.bald {
    font-weight: 700;
}
.space-betw {
    justify-content: space-between;
}
.propic {
    width: 50px;
    border-radius: 50%;
}
.flex {
    display: flex;
}
.padding-l {
    padding-left: 10px;
}
ul {
    list-style: none;
}
.grey {
    color: lightgray;
}
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.text-right {
    text-align: right;
}
.size {
    font-size: 13px;
}
/* DROPDOWN MENU */
.none {
    display: none;
}
.drop-menu {
    display: block;
    position: absolute;
    right: 0;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px;
    z-index: 98;
}
.drop-menu span {
    padding: 10px 5px;
}
.fixed {
    position: fixed;
    width: 59.5%;
    z-index: 99;
}
/* BODY */
.app-wrapper {
    background: rgb(241,236,236);
    background: linear-gradient(0deg, rgba(218,218,211,1) 80%, rgba(0,150,135,1) 80%, rgba(0,150,135,1) 80%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 950px;
}
.container {
    width: 85%;
    min-width: 560px;
    height: 90vh;
    display: flex;
    justify-content: center;
}
/* COL */
.col-container {
    background-color: #eaeaea;
    border-right: solid lightgrey 1px;
}
.contacts {
    height: 100%;
    width: 25%;
    max-width: 30%;
    min-width: 25%;
    background-color: white;
    overflow-y: auto;
    overflow: hidden;
}
/* user info */
.user-info {
    padding: 10px;
}
.space-betw i {
    font-size: 20px;
    margin: 5px;
    color: grey;
}
.user-list {
    overflow-y: auto;
}
.icons-top i {
    color: lightgray;
}
.icons-top {
    display: flex;
    flex-wrap: nowrap;
}
/* notifications */
.notifications {
    background-color: #8edafb;
    padding: 20px;
    overflow: hidden;
}
.notifications i {
    font-size: 20px;
    padding: 10px;
    color: #8edafb;
}
.notifications a {
    color: grey;
}
.bell-back {
    border-radius: 50%;
    background-color: #eaeaea;
}
.chat-container {
    height: 100%;
    width: 70%;
    background-image: url(../img/mine.jpg);
}
.chat-info {
    height: 80vh;
    overflow-y: auto;
}
/* input */
.input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;
    background-color: #fafafa;
}
.input input {
    width: 80%;
    height: 30px;
    border: 0;
}
.input i {
    color: lightgray;
}
.label {
    background-color: white;
    padding: 5px;
    padding-left: 10px;
}
/* user list */
.contact-padding {
    padding: 5px;
    border-bottom: solid #f5f5f5 1px;
}
.contact-padding:last-child {
    border-bottom: 0;
}
.active {
    background-color: #e9ebea;
}
/* current chat */
.back-color-info {
    background-color: #eaeaea;
}
.chat {
    margin-top: 80px;
}
.inner-chat {
    margin-left: 60px;
    margin-right: 60px;
}
.chevron {
    color: grey;
    position: absolute;
    top: 10px;
    right: 10px;
}
.recieved {
    position: relative;
    width: 40%;
    min-width: 35%;
    display: block;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
}
.sent {
    position: relative;
    width: 40%;
    margin-bottom: 10px;
    min-width: 35%;
    display: block;
    background-color: #d5f9ba;
    padding: 10px;
    border-radius: 12px;
}
.msg-text {
    word-break: break-all;
}
.times {
    color: lightgray;
    font-size: 9px;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}
/* user message input */
.user-input {
    background-color: #f3eeea;
    height: 11%;
    justify-content: center;
}
.user-input i {
    font-size: 20px;
}
.width {
    width: 90%;
} 
.width input {
    border: 0;
}
.width-100 {
    width: 100%;
    height: 80%;
}
.align-self {
    align-self: center;
    margin-bottom: 13px;
}
.space {
    justify-content: space-evenly;
    margin-top: 15px;
}