<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.3/dayjs.min.js" integrity="sha512-Ot7ArUEhJDU0cwoBNNnWe487kjL5wAOsIYig8llY/l0P2TUFwgsAHVmrZMHsT8NGo+HwkjTJsNErS6QqIkBxDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- app wrapper -->
    <div class="app-wrapper" id="root">
        <div class="container">
            <!-- contacts col -->
            <div class="contacts">
                <div class="col-container">
                    <!-- user info -->
                    <div class="user-info flex-center space-betw">
                        <div class="flex-center">
                            <img class="propic" src="img/avatar_io.jpg" alt="avatar io">
                            <span class="bald">Nome Utente</span>
                        </div>
                        <div class="icons-top">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </div>
                <!-- notifications -->
                <div class="notifications flex-center">
                    <div class="bell-back">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div>
                        <h5>Ricevi notifiche di nuovi messaggi</h5>
                        <span>
                            <a class="size" href="#">Attiva notifiche adesso.</a>
                        </span>
                    </div>
                </div>
                <!-- fine notifications -->

                <!-- input -->
                <div class="input">
                    <label for="contacts-search" class="label">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </label>
                    <input type="text" name="userFilter" id="userFilter" placeholder="  Cerca o inizia nuova chat">
                </div>
                <!-- fine input -->

                <!-- user list -->
                <ul class="user-list">
                    <li v-for="contacts, index in contacts" class="contact-padding" :class="currentActiveChat === index ? 'active' : ''" @click="openNewChat(index)">
                        <div class="flex">
                            <div>
                                <img class="propic" v-bind:src="'img/avatar' + contacts.avatar + '.jpg'" alt="contact.name">
                            </div>
                            <div>
                                <span class="bald padding-l">
                                    {{ contacts.name }}
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- fine user list -->
            </div>
            <!-- fine contacts -->

            <!-- chat col -->
            <div class="chat-container">
                <!-- current chat info -->
                <div class="chat-info">
                    <!-- username & propic -->
                    <div class="user-info flex space-betw align-center back-color-info">
                        <div class="flex-center">
                            <img :src="'img/avatar' + contacts[currentActiveChat].avatar + '.jpg'" alt="avatar" class="propic">
                            <div class="flex-col">
                                <span class="padding-l bald">
                                    {{contacts[currentActiveChat].name}}
                                </span>
                                <span class="padding-l">
                                    [ultimo accesso]
                                </span>
                            </div>
                        </div>
                        <div>
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- fine username & propic -->

                    <div class="chat">
                        <!-- messaggio ricevuto -->
                        <div class="inner-chat" v-for="message in contacts[currentActiveChat].messages" :class="message.status === 'sent' ? 'flex-end' : '' ">
                            <span :class="message.status === 'sent' ? 'sent' : 'recieved' ">
                                <div>
                                    {{ message.text }}
                                </div>
                                <div class="text-right times">
                                    {{ message.date }}
                                </div>
                            </span>
                        </div>
                        <!-- fine messaggio ricevuto -->
                    </div>
                </div>
                <!-- fine current chat info -->
                <div class="flex user-input">
                    <div class="flex space width-100">
                        <div class="align-self">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="width">
                            <input @keyup.enter="sendNewMsg()" v-model="newMessage.text" class="width-100" type="text" name="message" id="userMessage" placeholder=" Scrivi un messaggio">
                        </div>
                        <div class="align-self">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>