<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.3/dayjs.min.js" integrity="sha512-Ot7ArUEhJDU0cwoBNNnWe487kjL5wAOsIYig8llY/l0P2TUFwgsAHVmrZMHsT8NGo+HwkjTJsNErS6QqIkBxDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- app wrapper -->
    <div class="app-wrapper" id="root">
        <div class="container">
            <!-- contacts col -->
            <div class="contacts">
                <div class="col-container">
                    <!-- user info -->
                    <div class="user-info flex-center space-betw">
                        <div class="flex-center">
                            <img class="propic" src="img/avatar_io.jpg" alt="avatar io">
                            <span class="bald">Nome Utente</span>
                        </div>
                        <!-- icone -->
                        <div class="icons-top">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </div>
                <!-- notifications -->
                <div class="notifications flex-center">
                    <div class="bell-back">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div>
                        <h5>Ricevi notifiche di nuovi messaggi</h5>
                        <span>
                            <a class="size" href="#">Attiva notifiche adesso.</a>
                        </span>
                    </div>
                </div>
                <!-- fine notifications -->

                <!-- input -->
                <div class="input">
                    <label for="contacts-search" class="label">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </label>
                    <input 
                        type="text" 
                        name="userFilter" 
                        @keyup="elementFilter()" 
                        v-model="userFilterText" 
                        id="userFilter" 
                        placeholder="  Cerca o inizia nuova chat">
                </div>
                <!-- fine input -->

                <!-- user list -->
                <ul class="user-list">
                    <!-- elemento chat -->
                    <li 
                        v-for="contacts, index in contacts" 
                        v-if="contacts.visible" 
                        class="contact-padding" 
                        :class="currentActiveChat === index ? 'active' : ''" 
                        @click="openNewChat(index)">

                        <div class="flex">
                            <div>
                                <img class="propic" v-bind:src="'img/avatar' + contacts.avatar + '.jpg'" alt="contact.name">
                            </div>
                            <div>
                                <!-- nome chat -->
                                <span class="bald padding-l">
                                    {{ contacts.name }}
                                </span>
                                <!-- ultimo msg e ora/data invio -->
                                <div class="grey padding-l">
                                    {{sliceMessage(contacts.messages[contacts.messages.length - 1].text)}}
                                    {{ contacts.messages[contacts.messages.length - 1].date }}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- fine user list -->
            </div>
            <!-- fine contacts -->

            <!-- CHAT COL DX -->
            <div class="chat-container">
                <!-- current chat info -->
                <div class="chat-info">
                    <!-- username & propic -->
                    <div class="fixed">
                        <div class="user-info flex space-betw align-center back-color-info">
                            <div class="flex-center">
                                <!-- img utente attivo -->
                                <img 
                                    :src="'img/avatar' + contacts[currentActiveChat].avatar + '.jpg'" 
                                    alt="avatar" 
                                    class="propic">
                                <!-- nome e ultimo accesso chat attiva -->
                                <div class="flex-col">
                                    <span class="padding-l bald">
                                        {{contacts[currentActiveChat].name}}
                                    </span>
                                    <span class="padding-l">
                                        Ultimo accesso oggi alle {{ lastSeen }}
                                    </span>
                                </div>
                            </div>
                            <!-- icone -->
                            <div>
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                    </div>
                    <!-- fine username & propic -->

                    <div class="chat">
                        <!-- messaggio ricevuto -->
                        <div 
                            class="inner-chat" 
                            v-for="(message, index) in contacts[currentActiveChat].messages" 
                            :class="message.status === 'sent' ? 'flex-end' : '' ">
                            <!-- testo messaggio -->
                            <span :class="message.status === 'sent' ? 'sent' : 'recieved' ">
                                <p class="msg-text">
                                    {{ message.text }}
                                </p>
                                <!-- data msg -->
                                <div class="text-right times">
                                    {{ message.date }}
                                </div>
                                <!-- icona menù tendina -->
                                <div class="chevron" @click="chevronMenu(index)">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </div>
                                <div class="none" :class="{'drop-menu' : index === clickedMsg}">
                                    <span>Info messaggio</span>
                                    <span @click="deleteMessage(index)">Elimina messaggio</span>
                                  </div>
                            </span>
                        </div>
                        <!-- fine messaggio ricevuto -->
                    </div>
                </div>
                <!-- fine current chat info -->
                <div class="flex user-input">
                    <div class="flex space width-100">
                        <div class="align-self">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="width">
                            <!-- input msg -->
                            <input 
                                @keyup.enter="sendNewMsg()" 
                                v-model="newMessage.text" 
                                class="width-100" 
                                type="text" 
                                name="message" 
                                id="userMessage" 
                                placeholder=" Scrivi un messaggio">
                        </div>
                        <div class="align-self">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>